*{
    margin: 0;
    padding: 0;

}
body{
    background-color: hsl(30, 54%, 90%);
    font-family: 'Young Serif'
}

.contenedor {
    display: flex;
   
    justify-content: center;
    align-items: center;
    height: 100%;
  
}

.contenedor .carta  {
    background-color: hsl(30, 54%, 100%);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
  
}

img {
    margin: 15px;
    border-radius: 10px;

}
h1 {
    text-align: left;
    color: hsl(24, 5%, 18%);
    font-size: 2.2em;
    margin: 20px;
}

p {
    text-align: left;
    color: hsl(24, 5%, 18%);
    font-size: 1em;
    margin: 10px;
    font-family: 'Outfit Regular'
}

.preparacion {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    text-align: left;
    color: hsl(24, 5%, 18%);
    font-size: 0.80em;
    margin: 10px;
}
h4 {
    color: hsl(332, 51%, 32%);
    font-size: 1.45em;
    margin-left: -10px;
    margin-bottom: 15px;
}
ul  li{
    margin: 10px;
    color: hsl(24, 5%, 18%);
    font-size: 1.09em;
    margin-left:  5px;
}

h3 {
    color: hsl(14, 45%, 36%);
    font-size: 1.50em;
    margin-left: 5px;
    margin-top: 15px;
}
.introducion{
    border-bottom: 1px   solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    


}
.ingredientes {
    border-bottom: 1px   solid rgba(0, 0, 0, 0.1);
}

.ingredientes ul li {

    padding: 2px;
    margin: 15px 10px 10px 30px;
    font-size: 0.90em;
    border-radius: 16px;
    border: 1;
   
}
ol {
    margin-bottom: 20px;
}

ol li {
    margin: 6px;
    color: hsl(24, 5%, 18%);
    font-size: 0.80em;
    margin-left:  25px;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 5px;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
   font-size: 1.25em;
    margin-top: 15px 10px;
}

.nutrition-info {
    
    font-family: Arial, sans-serif;
    color: #6b3e26; 
   
 
  }
  
  .nutrition-info .row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
  }
  
  .nutrition-info .row:last-child {
    border-bottom: none;
  }
  
  .label {
    font-size: 14px;
  }
  
  .value {
    font-weight: bold;
    font-size: 14px;
  }
  
  .unit {
    font-weight: normal;
    font-style: italic;
    margin-right:  200px;
  }

  ul li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 0.85em;
    margin-top: 15px 10px;
  }